
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}
#main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(29,29,35);
    display: flex;
    justify-content: center;
    color: white;
}
#container{
    /* margin: 0 auto; */
    font-size: 3vmin;
    width: 40%;
    height: 80%;
    /* background-color: #dadada; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmin;
    padding: 2vmin 0;
    margin-top: 10px;
}
.row{
    background-color: rgb(52,52,74);
    /* width: 90%; */
    height: 8vmin;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 70vmin;
    align-items: center;
    padding: 0 2vmin;
    border-radius: 5px;
    font-size: 2vmin;
}
.over{

    
    height: 8vmin;
    transform: ;
    display: flex;
    justify-content: center;
    width: 70vmin;
    align-items: center;
    padding: 0 2vmin;
    border-radius: 5px;
    font-size: 3vmin;
    background-color: yellow;
    color: rgb(29,29,35); 
    border: 2px solid rgb(255, 217, 0);  
}
#setBtn{
    height: 4vmin;
    border: none;
    padding: .5vmin 1.5vmin;
    background-color: yellow;
    border-radius: 2vmin;
    box-sizing: border-box;
    font-size: 1.5vmin;
    

}
.delBtn{
    position: absolute;
    right: 10%;
    transform: translateX(-160%);
    height: 4vmin;
    border: none;
    padding: .5vmin 1.5vmin;
    background-color: rgb(52,52,74);
    border-radius: 2vmin;
    box-sizing: border-box;
    font-size: 1.5vmin;
    color: yellow;

}

#curtime{
    padding: 2vmin 7vmin;
    border-radius: 3vmin;
    border: none;
    background-color: rgb(57,57,62);
    color: white;
    font-size: 2vmin;
    
}
.row > span{
    /* color: red; */
}
.time{
    display: flex;
    gap: 1vmin;

}

.time input{
    width: 3vmin;
    background-color: transparent;
    border: none;
    border-bottom:1px solid #dadada;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#timers{
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}